<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">



    <!--服务的提供者-->
    <!--发布服务-->
    <!--dubbo的注册中心-->
    <dubbo:registry address="zookeeper://10.0.127.179:2181"></dubbo:registry>
    <!--设置应用信息-->
    <dubbo:application name="user-cus"></dubbo:application>
    <!--代理服务   -->
    <dubbo:reference interface="com.qf.userservice.UserService" id="userService" check="false"></dubbo:reference>
    <dubbo:reference interface="com.qf.userservice.AccountService" id="accountService" check="false"></dubbo:reference>
    <dubbo:reference interface="com.qf.userservice.LogService" id="logService" check="false"></dubbo:reference>
    <dubbo:reference interface="com.qf.service.loan.QuickLoanService" id="quickloanService" check="false"></dubbo:reference>
</beans>