@charset 'utf-8';
.m-usergroupup{
    li{
        height:140px;
        margin-bottom:20px;
        overflow:hidden;
        border:1px solid nth($gery,2);
        .usergroupup-photo{
            width:140px;
            height:140px;
            img{
                width:140px;
                height:140px;
            }
        }
        .usergroupup-info{
            width:getWidth(9,true,78px);
            p{
                height:60px;
                font-size:12px;
                font-family:$baseSongTi;
                color:nth($black,1);
                line-height:22px;
                border-bottom:1px dashed nth($gery,2);
                overflow:hidden;
            }
            select{
                height:38px;
                *height:22px;
                *margin-top:5px;
            }
        }
    }
}
